<div class="uikit-modern">
    <div class="uk-padding-large" uk-height-viewport>
        <div class="uk-card uk-card-default" uk-height-viewport="offset-top: true; offset-bottom: 7.5">
            <div class="uk-card uk-grid-collapse uk-background-primary" uk-grid uk-height-viewport="offset-top: true; offset-bottom: 7.5">
                <div class="uk-width-auto uk-padding uk-text-center uk-light ">
                    <div>
                        <img src="/assets/sasa_systems_icon_white.png" alt="" style="max-width: 30px;">
                    </div>

                    <div class="uk-margin-top">
                        <div class="uk-tab-left" uk-tab="swiping: true; animation: uk-animation-slide-left-small, uk-animation-slide-right-small; connect: *.contentcard">
                            <div class="uk-active">
                                <a href="#"><span uk-icon="icon: home" uk-tooltip="title: HOME; pos: right"></span></a>
                            </div>
                            <div class="uk-margin-top">
                                <a href="#"><span uk-icon="icon: settings" uk-tooltip="title: SETTINGS; pos: right"></span></a>
                            </div>
                            <div class="uk-margin-top">
                                <a href="#"><span uk-icon="icon: database" uk-tooltip="title: DATABASE; pos: right"></span></a>
                            </div>            
                        </div>    
                    </div>
                </div>

                <div class="uk-width-expand">
                    <div class="uk-card uk-card-default uk-height-1-1">
                        <div class="uk-card uk-grid-small uk-padding-small" uk-grid>

                            <div class="uk-width-expand">
                                <div class="uk-switcher contentcard uikit-modern-inner">

                                    <div class="" style="overflow: auto;">
                                        <!-- PARAMETER CONTROL TABLE -->
                                        <div class="uk-card uk-card-default">
                                            <div class="uk-card-header uk-card-secondary uk-card">
                                                <div uk-grid>
                                                    <div class="uk-width-expand uk-margin-auto-vertical">
                                                        <div class="uk-flex uk-flex-middle">
                                                            <h5 class="uk-margin-remove">PARAMETERS CONTROL</h5>
                                                            <a class="uk-accordion-creator-parameter uk-margin-small-left" href="#" uk-icon="icon: plus-circle" uk-tooltip="title: NEW; pos: right"></a>
                                                        </div>                                                        
                                                    </div>
                                                    <div class="uk-width-auto uk-margin-auto-vertical">
                                                        <div class="uk-form">
                                                            <div class="uk-inline">
                                                                <span class="uk-form-icon" uk-icon="icon: search"></span>
                                                                <input class="uk-input" type="text">
                                                            </div>    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="uk-card-body uk-padding-small">                                               
                                                <table class="uk-table uk-table-small uk-table-hover uk-table-divider">
                                                    <thead>
                                                        <tr>
                                                            <th class="uk-table-shrink">NAME</th>
                                                            <th class="uk-width-expand">CRITERIA</th>
                                                            <th class="uk-table-shrink">&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="uk-text-nowrap uk-text-small">NAME OF THE PARAMETER</td>
                                                            <td class="uk-text-small">
                                                                <p class="uk-text-smaller uk-margin-remove">Parameter description Lorem ipsum dolor sit amet consectetur adipiscing elit porttitor lorem ipsum dolor sit amet consectetur adipiscing elit porttitor</p>
                                                                <p class="uk-text-small uk-margin-remove">Criteria 1 Name (Val: 15) | Criteria 2 Name (Val: 15) | Criteria 3 Name (Val: 15)</p>
                                                            </td>
                                                            <td class="uk-text-nowrap uk-text-small"><a class="uk-icon-button" uk-icon="icon: pencil" uk-tooltip="title: EDIT; pos: top"></a><a class="uk-icon-button uk-margin-small-left" uk-icon="icon: trash" uk-tooltip="title: ERASE; pos: top"></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="uk-text-nowrap uk-text-small">NAME OF THE PARAMETER</td>
                                                            <td class="uk-text-small">
                                                                <p class="uk-text-smaller uk-margin-remove">Parameter description Lorem ipsum dolor sit amet consectetur adipiscing elit porttitor lorem ipsum dolor sit amet consectetur adipiscing elit porttitor</p>
                                                                <p class="uk-text-small uk-margin-remove">Criteria 1 Name (Val: 15) | Criteria 2 Name (Val: 15) | Criteria 3 Name (Val: 15)</p>
                                                            </td>
                                                            <td class="uk-text-nowrap uk-text-small"><a class="uk-icon-button" uk-icon="icon: pencil" uk-tooltip="title: EDIT; pos: top"></a><a class="uk-icon-button uk-margin-small-left" uk-icon="icon: trash" uk-tooltip="title: ERASE; pos: top"></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="uk-text-nowrap uk-text-small">NAME OF THE PARAMETER</td>
                                                            <td class="uk-text-small">
                                                                <p class="uk-text-smaller uk-margin-remove">Parameter description Lorem ipsum dolor sit amet consectetur adipiscing elit porttitor lorem ipsum dolor sit amet consectetur adipiscing elit porttitor</p>
                                                                <p class="uk-text-small uk-margin-remove">Criteria 1 Name (Val: 15) | Criteria 2 Name (Val: 15) | Criteria 3 Name (Val: 15)</p>
                                                            </td>
                                                            <td class="uk-text-nowrap uk-text-small"><a class="uk-icon-button" uk-icon="icon: pencil" uk-tooltip="title: EDIT; pos: top"></a><a class="uk-icon-button uk-margin-small-left" uk-icon="icon: trash" uk-tooltip="title: ERASE; pos: top"></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="uk-text-nowrap uk-text-small">NAME OF THE PARAMETER</td>
                                                            <td class="uk-text-small">
                                                                <p class="uk-text-smaller uk-margin-remove">Parameter description Lorem ipsum dolor sit amet consectetur adipiscing elit porttitor lorem ipsum dolor sit amet consectetur adipiscing elit porttitor</p>
                                                                <p class="uk-text-small uk-margin-remove">Criteria 1 Name (Val: 15) | Criteria 2 Name (Val: 15) | Criteria 3 Name (Val: 15)</p>
                                                            </td>
                                                            <td class="uk-text-nowrap uk-text-small"><a class="uk-icon-button" uk-icon="icon: pencil" uk-tooltip="title: EDIT; pos: top"></a><a class="uk-icon-button uk-margin-small-left" uk-icon="icon: trash" uk-tooltip="title: ERASE; pos: top"></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="uk-text-nowrap uk-text-small">NAME OF THE PARAMETER</td>
                                                            <td class="uk-text-small">
                                                                <p class="uk-text-smaller uk-margin-remove">Parameter description Lorem ipsum dolor sit amet consectetur adipiscing elit porttitor lorem ipsum dolor sit amet consectetur adipiscing elit porttitor</p>
                                                                <p class="uk-text-small uk-margin-remove">Criteria 1 Name (Val: 15) | Criteria 2 Name (Val: 15) | Criteria 3 Name (Val: 15)</p>
                                                            </td>
                                                            <td class="uk-text-nowrap uk-text-small"><a class="uk-icon-button" uk-icon="icon: pencil" uk-tooltip="title: EDIT; pos: top"></a><a class="uk-icon-button uk-margin-small-left" uk-icon="icon: trash" uk-tooltip="title: ERASE; pos: top"></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- PARAMETER CONTROL TABLE END -->

                                        <!-- PENALTY CONTROL TABLE -->
                                        <div class="uk-card uk-card-default uk-margin-top">
                                            <div class="uk-card-header uk-card-secondary uk-card">
                                                <div uk-grid>
                                                    <div class="uk-width-expand uk-margin-auto-vertical">
                                                        <div class="uk-flex uk-flex-middle">
                                                            <h5 class="uk-margin-remove">PENALTY CONTROL</h5>
                                                            <a class="uk-accordion-creator-parameter uk-margin-small-left" href="#" uk-icon="icon: plus-circle" uk-tooltip="title: NEW; pos: right"></a>
                                                        </div>                                                        
                                                    </div>
                                                    <div class="uk-width-auto uk-margin-auto-vertical">
                                                        <div class="uk-form">
                                                            <div class="uk-inline">
                                                                <span class="uk-form-icon" uk-icon="icon: search"></span>
                                                                <input class="uk-input" type="text">
                                                            </div>    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="uk-card-body uk-padding-small">                                               
                                                <table class="uk-table uk-table-small uk-table-hover uk-table-divider">
                                                    <thead>
                                                        <tr>
                                                            <th class="uk-table-shrink">NAME</th>
                                                            <th class="uk-width-expand">CRITERIA</th>
                                                            <th class="uk-table-shrink">&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="uk-text-nowrap uk-text-small">NAME OF THE PARAMETER</td>
                                                            <td class="uk-text-small">
                                                                <p class="uk-text-smaller uk-margin-remove">Parameter description Lorem ipsum dolor sit amet consectetur adipiscing elit porttitor lorem ipsum dolor sit amet consectetur adipiscing elit porttitor</p>
                                                                <p class="uk-text-small uk-margin-remove">Criteria 1 Name (Val: 15) | Criteria 2 Name (Val: 15) | Criteria 3 Name (Val: 15)</p>
                                                            </td>
                                                            <td class="uk-text-nowrap uk-text-small"><a class="uk-icon-button" uk-icon="icon: pencil" uk-tooltip="title: EDIT; pos: top"></a><a class="uk-icon-button uk-margin-small-left" uk-icon="icon: trash" uk-tooltip="title: ERASE; pos: top"></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- PENALTY CONTROL TABLE END -->

                                        <!-- CATEGORY CONTROL TABLE -->
                                        <div class="uk-hidden uk-card uk-card-default uk-margin-top">
                                            <div class="uk-card-header uk-card-secondary uk-card">
                                                <div uk-grid>
                                                    <div class="uk-width-expand uk-margin-auto-vertical">
                                                        <div class="uk-flex uk-flex-middle">
                                                            <h5 class="uk-margin-remove">CATEGORY CONTROL</h5>
                                                            <a class="uk-accordion-creator-parameter uk-margin-small-left" href="#" uk-icon="icon: plus-circle" uk-tooltip="title: NEW; pos: right"></a>
                                                        </div>                                                        
                                                    </div>
                                                    <div class="uk-width-auto uk-margin-auto-vertical">
                                                        <div class="uk-form">
                                                            <div class="uk-inline">
                                                                <span class="uk-form-icon" uk-icon="icon: search"></span>
                                                                <input class="uk-input" type="text">
                                                            </div>    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="uk-card-body uk-padding-small">                                               
                                                <table class="uk-table uk-table-small uk-table-hover uk-table-divider">
                                                    <thead>
                                                        <tr>
                                                            <th class="uk-table-shrink">NAME</th>
                                                            <th class="uk-width-expand">CRITERIA</th>
                                                            <th class="uk-table-shrink">&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="uk-text-nowrap uk-text-small">NAME OF THE PARAMETER</td>
                                                            <td class="uk-text-small">
                                                                <p class="uk-text-smaller uk-margin-remove">Parameter description Lorem ipsum dolor sit amet consectetur adipiscing elit porttitor lorem ipsum dolor sit amet consectetur adipiscing elit porttitor</p>
                                                                <p class="uk-text-small uk-margin-remove">Criteria 1 Name (Val: 15) | Criteria 2 Name (Val: 15) | Criteria 3 Name (Val: 15)</p>
                                                            </td>
                                                            <td class="uk-text-nowrap uk-text-small"><a class="uk-icon-button" uk-icon="icon: pencil" uk-tooltip="title: EDIT; pos: top"></a><a class="uk-icon-button uk-margin-small-left" uk-icon="icon: trash" uk-tooltip="title: ERASE; pos: top"></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="uk-text-nowrap uk-text-small">NAME OF THE PARAMETER</td>
                                                            <td class="uk-text-small">
                                                                <p class="uk-text-smaller uk-margin-remove">Parameter description Lorem ipsum dolor sit amet consectetur adipiscing elit porttitor lorem ipsum dolor sit amet consectetur adipiscing elit porttitor</p>
                                                                <p class="uk-text-small uk-margin-remove">Criteria 1 Name (Val: 15) | Criteria 2 Name (Val: 15) | Criteria 3 Name (Val: 15)</p>
                                                            </td>
                                                            <td class="uk-text-nowrap uk-text-small"><a class="uk-icon-button" uk-icon="icon: pencil" uk-tooltip="title: EDIT; pos: top"></a><a class="uk-icon-button uk-margin-small-left" uk-icon="icon: trash" uk-tooltip="title: ERASE; pos: top"></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- CATEGORY CONTROL TABLE END -->
                                    </div>



                                    <div>
                                        <h1>IS IT ME</h1>                  
                                    </div>


                                    <div>
                                        <h1>YOUR LOOKING FOR</h1>                  
                                    </div>
                                </div>

                            </div>

                            <div class="uk-width-1-3">
                                <!-- CREATION PARAMETER FORM -->
                                <div class="">
                                    <div class="uk-card uk-card-default">
                                        <div class="uk-card-header uk-card-primary uk-card">
                                            <div uk-grid>
                                                <div class="uk-width-expand uk-margin-auto-vertical">
                                                    <div class="uk-flex uk-flex-middle">
                                                        <h5 class="uk-margin-remove">NEW PARAMETER</h5>
                                                    </div>                                                        
                                                </div>
                                                <div class="uk-width-auto uk-margin-auto-vertical">
                                                    <a class="uk-button uk-button-default">SAVE <span uk-icon="icon: cloud-upload"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-card-body">                                               
                                            <!---- ---->
                                            <div>
                                                <div class="uk-inline uk-width-1-1">
                                                    <span class="uk-form-icon" uk-icon="icon: pencil"></span>
                                                    <input class="uk-input uk-width-1-1 uk-input-square" placeholder="NAME*" type="text" style="width: 100%">
                                                </div>                                                                          
                                            </div>
                                            <div>
                                                <div class="uk-inline uk-width-1-1 uk-margin-small">
                                                    <span class="uk-form-icon" uk-icon="icon: pencil"></span>
                                                    <textarea class="uk-textarea uk-width-1-1 uk-input-square uk-margin-small" rows="3" placeholder="DESCRIPTION*" type="textarea" style="width: 100%"></textarea>
                                                </div>
                                            </div>                                                                    

                                            <!-- PAREMETER ONE -->
                                            <div>
                                                <div class="uk-grid-small" uk-grid>
                                                    <div class="uk-width-expand uk-margin-auto-vertical">
                                                        <div class="uk-form">
                                                            <div class="uk-inline uk-width-1-1">
                                                                <span class="uk-form-icon" uk-icon="icon: pencil"></span>
                                                                <input class="uk-input uk-form-small uk-input-square uk-width-1-1" placeholder="CRITERIA*" type="text" style="width: 100%">
                                                            </div>    
                                                        </div>
                                                    </div>
                                                    <div class="uk-width-1-4 uk-margin-auto-vertical">
                                                        <div class="uk-form">
                                                            <div class="uk-inline uk-width-1-1">
                                                                <span class="uk-form-icon" uk-icon="icon: hashtag"></span>
                                                                <input class="uk-input uk-form-small uk-input-square uk-width-1-1" placeholder="VAL*" type="number" style="width: 100%">
                                                            </div>    
                                                        </div>
                                                    </div>
                                                    <div class="uk-width-auto uk-margin-auto-vertical">
                                                        <div class="uk-flex uk-flex-middle">
                                                            <a href="" class="uk-icon-button" uk-icon="icon: trash" uk-tooltip="title: ERASE; pos: top"></a>
                                                            <a href="" class="uk-icon-button uk-margin-small-left" uk-icon="icon: plus" uk-tooltip="title: ERASE; pos: top"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- PAREMETER ONE END-->    
                                            <!---- ----> 
                                        </div>
                                    </div>
                                </div>
                                <!-- CREATION PARAMETER FORM END -->
                            </div>
                        </div>
                    </div>                        
                </div>
            </div>       
        </div>        
    </div>
</div>


<div class="sasa-body-content">


</div>

<!-----------ESTILOS DE SOL ------------>
<!-----------ESTILOS DE SOL ------------>
<!-----------ESTILOS DE SOL ------------>
<!-----------ESTILOS DE SOL ------------>
<!-----------ESTILOS DE SOL ------------>
<!-----------ESTILOS DE SOL ------------>
<!-----------ESTILOS DE SOL ------------>
<!-----------ESTILOS DE SOL ------------>
<style>
.uikit-modern .uk-card {
    border-radius:  50px !important;
}

.uikit-modern-inner .uk-card {
    border-radius:  40px !important;
}

.uk-input {
    border-radius: 50px;
}

.uk-input-square {
    border-radius: 5px;
}
</style>
<!-----------ESTILOS DE SOL ------------>
<!-----------ESTILOS DE SOL ------------>
<!-----------ESTILOS DE SOL ------------>
<!-----------ESTILOS DE SOL ------------>
<!-----------ESTILOS DE SOL ------------>
<!-----------ESTILOS DE SOL ------------>
<!-----------ESTILOS DE SOL ------------>
<!-----------ESTILOS DE SOL ------------>



<div>
    <router-outlet></router-outlet>
</div>

<hr>

<div>
    <app-category-creator></app-category-creator>
</div>
