<div class="uk-grid-small uk-child-width-auto uk-text-center uk-flex uk-flex-center" uk-grid>
    <div>
        <a class="uk-icon-button" uk-tooltip="title:UPLOAD; pos:bottom"><span uk-icon="icon: push"></span></a>
    </div>
    <div>
        <a class="uk-icon-button" uk-tooltip="title:GALLERY; pos:bottom"><span uk-icon="icon: album"></span></a>
    </div>
    <div>
        <a class="uk-icon-button" uk-tooltip="title:SEARCH; pos:bottom"><span uk-icon="icon: search"></span></a>
    </div>
    <div>
        <a class="uk-icon-button" uk-tooltip="title:DELETE; pos:bottom"><span uk-icon="icon: trash"></span></a>
    </div>
</div>