<div class="uk-card uk-card-default">
    <div class="uk-card-header uk-padding-small uk-card-secondary uk-card">
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-auto uk-margin-auto-vertical">
                <div class="uk-grid-small uk-child-width-auto" uk-grid>
                    <div>
                        <p class="uk-margin-remove">COMPETITORS MANAGEMENT</p>
                        <p class="uk-margin-remove uk-text-smaller">Create, edit, erase.</p>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                        <span [appConditionalContent]="['sasa_manager']" (click)="openCreateNew()" class="uk-icon-button" uk-icon="icon: plus-circle" uk-tooltip="title: NEW USER; pos: top"></span>
                        <span [appConditionalContent]="['sasa_manager']" class="uk-icon-button uk-margin-small-left" uk-icon="icon: tag" uk-tooltip="title: NEW PROFILE; pos: top"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-card-body uk-padding-small" uk-overflow-auto="selContainer: .uk-content-card; selContent: .js-wrapper">
        <div>
            <div *ngFor="let user of competitors" class="uk-card uk-card-default">
                <ul uk-accordion="toggle: *.uk-accordion-panel-oppener">
                    <li>
                        <div class="uk-padding-small">
                            <div class="" uk-grid>
                                <div class="uk-width-1-3">
                                    <div class="uk-grid-small" uk-grid>
                                        <div class="uk-width-auto uk-margin-auto-vertical">
                                            <span uk-tooltip="ATLETE" *ngIf="user.type == 1" class="" uk-icon="icon: user"></span>
                                            <span uk-tooltip="TEAM" *ngIf="user.type == 2 || user.type == 0 " class="" uk-icon="icon: users"></span>
                                        </div>
                                        <div class="uk-width-expand uk-margin-auto-vertical">
                                            <a href="#" class="uk-button uk-button-text uk-margin-remove uk-accordion-panel-oppener">{{user.data.name}}</a>
                                            <p class="uk-margin-remove uk-text-smaller">{{user.id}}</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="uk-width-expand">
                                    <div class="uk-flex uk-flex-right">
                                        <div class="uk-child-width-auto uk-grid-small uk-flex uk-flex-middle" uk-grid>
                                            <div class="uk-text-center">
                                                <span class="uk-margin-remove" uk-icon="icon: info" uk-tooltip="title: PROFILE YES; pos: top"></span>
                                            </div>

                                            <div class="uk-text-center">
                                                <div class="uk-flex uk-flex-middle">
                                                    <span (click)="openEdit(user)" class="uk-icon-button" uk-icon="icon: pencil" uk-tooltip="title: EDIT; pos: top"></span>
                                                    <span (click)="deleteUser(user.id)" class="uk-margin-small-left uk-icon-button" uk-icon="icon: trash" uk-tooltip="title: ERASE; pos: top"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="uk-accordion-content uk-margin-remove uk-card-body uk-padding-small">
                            <!-- LISTA DE CATEGORIAS Y PENALTYS -->
                            <div class="uk-child-width-auto uk-grid-small" uk-grid>
                               
                                <div *ngFor="let group of user.real_manager">
                                    <span class="uk-label uk-label-success">{{group.email}}</span>
                                </div>
                            </div>
                            <!-- LISTA DE CATEGORIAS Y PENALTYS END -->
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="uk-card-footer">
        <p>Some content after the overflow auto container.</p>
    </div>
</div>