<!-- CATEGORY CREATION FORM -->
<div class="uk-margin-small-bottom">
    <div class="uk-card uk-card-default">
        <div class="uk-card-header uk-padding-small uk-card-primary uk-card">
            <div uk-grid>
                <div class="uk-width-expand uk-margin-auto-vertical">
                    <div class="uk-flex uk-flex-middle">
                        <h5 class="uk-margin-remove">NEW CATEGORY</h5>
                    </div>
                </div>
                <div class="uk-width-auto uk-margin-auto-vertical">
                    <a class="uk-icon-button" uk-tooltip="title: SAVE; pos: left"><span uk-icon="icon: cloud-upload"></span></a>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <!---- ---->
            <div>
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: pencil"></span>
                    <input class="uk-input uk-width-1-1 uk-input-square" placeholder="NAME*" type="text" style="width: 100%">
                </div>
            </div>
            <div>
                <textarea class="uk-textarea uk-width-1-1 uk-input-square uk-margin-small-top uk-margin-small-bottom" rows="3" placeholder="DESCRIPTION*" type="textarea" style="width: 100%"></textarea>
            </div>

            <div>
                <div class="uk-grid-small uk-child-width-auto@l" uk-grid>
                    <div>
                        <button class="uk-button uk-button-default uk-button-small">PARAMETRO 1</button>
                    </div>
                    <div>
                        <button class="uk-button uk-button-default uk-button-small">15</button>
                    </div>
                    <div>
                        <button class="uk-button uk-button-default uk-button-small">PARAMETRO NUMERO DOS</button>
                    </div>
                    <div>
                        <button class="uk-button uk-button-primary uk-button-small">PARAMETRO OTRO</button>
                    </div>
                    <div>
                        <button class="uk-button uk-button-default uk-button-small">PARAMETRO UNO MAS</button>
                    </div>
                    <div>
                        <button class="uk-button uk-button-default uk-button-small">PARAM X</button>
                    </div>
                </div>
            </div>
            <!---- ---->
        </div>
    </div>
</div>
<!-- CATEGORY CREATION FORM END -->