<div class="uk-margin-small" [appSasamasonry]="grid" [ngClass]="{'':(grid == 0),'uk-child-width-1-2':(grid == 1), 'uk-child-width-1-2@s':(grid ==2),'uk-grid':(grid != 0)}">
    <div class="uk-card" *ngFor="let content of data; let i = index">

        <div *ngIf="data.length > 0">
            <div *ngIf="content.type">
                <div [ngSwitch]="content.type">
                    <div [ngClass]="{'uk-grid-margin':(grid != 0)}" *ngSwitchCase="'text'">
                        <app-textinsert [ordering]=true (setStyle)="content.attrs.style = $event" (receiveText)="content.attrs.text = $event" (asyncData)="dataAsinc($event)" [contenido]="data" [attr]="content" [position]="i"></app-textinsert>
                    </div>
                    <div [ngClass]="{'uk-grid-margin':(grid != 0)}" *ngSwitchCase="'video'">
                        <app-videogenerator (receiveVideo)="content.attrs = $event"></app-videogenerator>
                    </div>
                    <div [ngClass]="{'uk-grid-margin':(grid != 0)}" *ngSwitchCase="'image'">
                        <app-image-parrafo [alias]="alias" [parentid]="i" [contenido]="data" [attr]="content" [position]="i" [identity]="alias+'_'+i+'_'+parendid" path="/media/clientuploads" (target)="content.attrs.src = $event" (setStyle)="content.attrs.style=$event"></app-image-parrafo>
                    </div>
                    <div [ngClass]="{'uk-grid-margin':(grid != 0)}" *ngSwitchCase="'link'">
                        <h2>LINK</h2>
                    </div>
                    <div [ngClass]="{'uk-grid-margin':(grid != 0)}" *ngSwitchCase="'convertion'">
                        <h2>CONVERTION</h2>
                    </div>
                    <div [ngClass]="{'uk-grid-margin':(grid != 0)}" *ngSwitchCase="'visual'">
                        <h2>VISUAL</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>