<div class="">
    <div class="">
        <div>
            <h1>Edit your landing</h1>
            <button (click)="closeEdition()" type="button" class="uk-button uk-button-secondary">
                Close
            </button>
        </div>
        <form (ngSubmit)="updateArticle()" *ngIf="article != null">
            <app-banner-editable-view></app-banner-editable-view>
            <div>
                <app-parrafos [alias]="articleData.alias" [receiveParrafos]="articleData.parrafos" (parrafosContent)="articleData.parrafos = $event"></app-parrafos>
            </div>

            <div class="uk-margin">
                <button type="submit" class="uk-button uk-button-primary">Update</button>
            </div>

            <!---->
        </form>
    </div>
</div>