<div class="">

    <!--VISTA DE CONTENT TEMPLATE INICIO-->
     
    <div *ngIf="article && state == 0">
         
        <app-banner-frontend-view [articleid]="article.id" [type]="article.type" [image]="article.banner.image" [bannerType]="article.banner.type" [attrs]="article.banner"></app-banner-frontend-view>
        <div id="sasa-body-content">
            <button type="button" class="uk-button uk-button-primary" (click)="openedit()">OPEN EDIT</button>
            <hr>
            <!--START RENDERING PARAGRAPH-->
            <div *ngFor="let parrafo of article.parrafos">
                <div [ngClass]="{'uk-card-primary':(parrafo.style == 2), 'uk-card-secondary':(parrafo.style == 3), 'uk-card-default':(parrafo.style == 1), 'uk-card-body':(parrafo.style != 4)}">
                    <div [appSasamasonry]="parrafo.grid==2" [ngClass]="{'uk-child-width-1-1':(parrafo.grid == 0),'uk-child-width-1-2':(parrafo.grid == 1), 'uk-child-width-1-2@s':(parrafo.grid ==2)}">
                        <div class="uk-card" *ngFor="let content of parrafo.content; let i = index">
                            <div *ngIf="parrafo.content.length > 0">
                                <div *ngIf="content.type">
                                    <div [ngSwitch]="content.type">
                                        <div [ngClass]="{'uk-text-left': (content.attrs.style.align == 0),'uk-text-right': (content.attrs.style.align == 1),'uk-text-center': (content.attrs.style.align == 2),'uk-text-justify': (content.attrs.style.align == 3)}" *ngSwitchCase="'text'">
                                            <p *ngIf="content.attrs.style.size == 0 || content.attrs.style.size == 9" [ngClass]="{'uk-text-bold':content.attrs.style.bold,'uk-text-small': (content.attrs.style.size == 9)}" class="">{{content.attrs.text || 'Lorem ipsum dolor sit amet consectetur adipiscing elit nam risus, et luctus morbi porta habitant lacus nascetur ligula vehicula, semper convallis eleifend hac dictum bibendum at ridiculus.'}}</p>
                                            <h6 [ngClass]="{'uk-text-bold': content.attrs.style.bold}" *ngIf="content.attrs.style.size == 8" class="">{{content.attrs.text || 'Lorem ipsum dolor sit amet consectetur adipiscing elit nam risus, et luctus morbi porta habitant lacus nascetur ligula vehicula, semper convallis eleifend hac dictum bibendum at ridiculus.'}}</h6>
                                            <h5 [ngClass]="{'uk-text-bold': content.attrs.style.bold}" *ngIf="content.attrs.style.size == 7" class="">{{content.attrs.text || 'Lorem ipsum dolor sit amet consectetur adipiscing elit nam risus, et luctus morbi porta habitant lacus nascetur ligula vehicula, semper convallis eleifend hac dictum bibendum at ridiculus.'}}</h5>

                                            <h4 [ngClass]="{'uk-text-bold': content.attrs.style.bold}" *ngIf="content.attrs.style.size == 6" class="">{{content.attrs.text || 'Lorem ipsum dolor sit amet consectetur adipiscing elit nam risus, et luctus morbi porta habitant lacus nascetur ligula vehicula, semper convallis eleifend hac dictum bibendum at ridiculus.'}}</h4>

                                            <h3 [ngClass]="{'uk-text-bold': content.attrs.style.bold}" *ngIf="content.attrs.style.size == 5" class="">{{content.attrs.text || 'Lorem ipsum dolor sit amet consectetur adipiscing elit nam risus, et luctus morbi porta habitant lacus nascetur ligula vehicula, semper convallis eleifend hac dictum bibendum at ridiculus.'}}</h3>

                                            <h2 [ngClass]="{'uk-text-bold': content.attrs.style.bold}" *ngIf="content.attrs.style.size == 4" class="">{{content.attrs.text || 'Lorem ipsum dolor sit amet consectetur adipiscing elit nam risus, et luctus morbi porta habitant lacus nascetur ligula vehicula, semper convallis eleifend hac dictum bibendum at ridiculus.'}}</h2>

                                            <h1 *ngIf="content.attrs.style.size == 3 || content.attrs.style.size == 2 || content.attrs.style.size == 1" [ngClass]="{'uk-text-bold':content.attrs.style.bold,'uk-heading-small': (content.attrs.style.size == 2),'uk-heading-large': (content.attrs.style.size == 1)}"
                                                class="">{{content.attrs.text || 'Lorem ipsum dolor sit amet consectetur adipiscing elit nam risus.'}}</h1>
                                        </div>
                                        <div *ngSwitchCase="'image'">
                                            <div [ngClass]="{'field-contentsol': (content.attrs.style.frame == 1),'imageTo16-9': (content.attrs.style.frame == 2),'uk-border-15': (content.attrs.style.border == 1),'uk-border-circle': (content.attrs.style.border == 2),'uk-position-top': (content.attrs.style.pos == 1),'uk-position-center': (content.attrs.style.pos == 2),'uk-position-bottom': (content.attrs.style.pos == 3)}"
                                                class="uk-width-1-1">
                                                <img [src]="content.attrs.src || 'assets/default_photocover.jpg'" style="width: 100%" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--END RENDERING PARAGRAPH-->
            <div></div>
        </div>

    </div>
    <!--VISTA DE CONTENT TEMPLATE FIN-->

    <!--VISTA DE EDITABLE TEMPLATE INICIO-->
    <div *ngIf="article && state == 1">
        <app-editable-template (reloadingData)="updateAfterEdit()" [article]="article" (stateEdit)="state=$event"></app-editable-template>
    </div>

    <!--VISTA DE EDITABLE TEMPLATE FIN-->
</div>